body{
    background-image: url("back3.png");
    text-align: center;
}
.para-container{
    height: 100px; 
    width:100px;
    flex-wrap: wrap;
}
#pare{
    color: aliceblue;
    margin-left: 700px;
    font-size: 40px;
    flex-wrap: wrap;
}
#pare1{
    margin-top: 40px;
    font-size: 30px;
    flex-wrap: wrap;
}
#pare2{
    font-size: 20px;
    flex-wrap: wrap;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 2rcap;
    border: none;
    font-size: 8vmin;
    color: rgb(235, 111, 117);
    background-color: rgb(199, 191, 71);
}
.box-container{
    height:60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap:1.5vmin;
    
}
.container{
    margin-left: 500px;
    height: 70vmin;
    width:70vmin;
    
    justify-content: center;
    text-align: center;
    gap:1.5vmin;
    
} 
.boxn{
    display: none;
}
#paren{
display: none;
}
#reset{
    font-size: 20px;
    height: 50px;
    width: 100px;
    color: aliceblue;
    background-color: black;
    border: 1px solid #ff0004;
}
#resetn{
    display: none;
}
#l{
    display: none;
    padding: 14px;
    text-decoration: none;
    color: #ff0004;
    
}
#t{
    display: none; 

}
.name{
    font-size: 30px;
    color: rgb(31, 222, 79);
}
.link{
    display: none;
}
.linkk{
    margin-left: 500px;
    display: flex;
    flex-wrap: wrap;
    
}
.game{
    display: none;
}
#g1, #g2,#g3{
display: none;
}
#g3{
    text-decoration: none;
    color: #ff0004;
}
.second{
    display: none;
}
.secondd{
    margin-top: 0px;
    background-image: url("app3.png");
    height: 1000px;
}
@media screen and (max-width:600px){
    #pare{
        margin-left: 50px;
        font-size: 40px;
        flex-wrap: wrap;
    }
   
    .container{
        margin-left: 30px;
        height: 70vmin;
        width:70vmin;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap:1.5vmin;
        
    } 
    .linkk{
        margin-left: 50px;
        display: flex;
        flex-wrap: wrap;
    }
}